.paperAnim {
  align-self: center;
  position: fixed;
  transform: scale(0.5);
  /* top: -10vh; */
  /* max-width: 150% !important; */
  animation-name: catslide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.searchbar {
  animation-name: searchslide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}

@keyframes catslide {
  from {
    transform: translateY(130%);
    -webkit-transform: translateY(130%);
    -moz-transform: translateY(130%);
    -ms-transform: translateY(130%);
    -o-transform: translateY(130%);
  }
  to {
    transform: translateY(65%);
    -webkit-transform: translateY(65%);
    -moz-transform: translateY(65%);
    -ms-transform: translateY(65%);
    -o-transform: translateY(65%);
  }
}

@keyframes searchslide {
  from {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
  to {
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff;
  opacity: 0.9;
  animation-name: filterdark;
  animation-duration: 2s;
}

.searchgrid {
  position: fixed;
  top: 15vh;
  z-index: 2;
  width: 40%;
}

@media only screen and (max-width: 600px) {
  .searchgrid {
    top: 10%;
    z-index: 2;
    width: 60%;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
}

@keyframes filterdark {
  from {
    opacity: 0;
    filter: alpha((opacity = 0));
    -webkit-filter: alpha((opacity = 0));
  }
  to {
    filter: alpha((opacity = 90));
    -webkit-filter: alpha((opacity = 90));
  }
}
