.paperAnim {
  align-self: center;
  position: fixed;
  max-height: 80vh;
  overflow: auto;
  top: 22vh;
  max-width: max-content !important;
  width: 95vw;
  animation-name: catslide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.le360 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fea557+0,ff782e+100 */
  background: #ffba7e; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #ffba7e 0%,
    #ff6a1b 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #ffba7e 0%,
    #ff6a1b 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #ffba7e 0%,
    #ff6a1b 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffba7e', endColorstr='#ff6a1b',GradientType=1 ); /* IE6-9 */
}

.hespress {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fea557+0,ff782e+100 */
  background: #17cce5; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #17cce5 0%,
    #0957b8 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #17cce5 0%,
    #0957b8 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #17cce5 0%,
    #0957b8 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17CCE5', endColorstr='#0957B8',GradientType=1 ); /* IE6-9 */
}

.welovebuzz {
  background: #f18768;
}

.LesEco {
  background: #4c6a4b;
}

.imgicon {
  filter: invert(100%) contrast(1000%);
  -webkit-filter: invert(100%) contrast(1000%);
}

.searchbar {
  animation-name: searchslide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes catslide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes searchslide {
  from {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
  to {
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff;
  opacity: 1;
  animation-name: filterdark;
  animation-duration: 2s;
}

.hey {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -3;
}

.searchgrid {
  position: fixed;
  top: 15vh;
  z-index: 2;
  width: 40%;
}

@media only screen and (max-width: 600px) {
  .searchgrid {
    top: 10%;
    z-index: 2;
    width: 40%;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  .paperAnim {
    align-self: center;
    position: fixed;
    height: 50vh;
    top: 20vh;
    width: 60vw !important;
    overflow: auto;
    animation-name: catslide;
    animation-duration: 4s;
    animation-fill-mode: forwards !important;
    -webkit-animation-fill-mode: forwards !important;
    transform: scale(1.5) !important;
    -webkit-transform: scale(1.5) !important;
    -moz-transform: scale(1.5) !important;
    -ms-transform: scale(1.5) !important;
    -o-transform: scale(1.5) !important;
  }
}

@keyframes filterdark {
  from {
    opacity: 0;
    filter: alpha((opacity = 0));
    -webkit-filter: alpha((opacity = 0));
  }
  to {
    filter: alpha((opacity = 1));
    -webkit-filter: alpha((opacity = 1));
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar:horizontal {
  height: 1px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}
