.paperAnim {
  align-self: center;
  position: fixed;
  max-height: 90vh;
  overflow: auto;
  animation-name: catslide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.searchbar {
  animation-name: searchslide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes catslide {
  from {
    transform: translateY(130%);
    -webkit-transform: translateY(130%);
    -moz-transform: translateY(130%);
    -ms-transform: translateY(130%);
    -o-transform: translateY(130%);
  }
  to {
    transform: translateY(55%);
    -webkit-transform: translateY(55%);
    -moz-transform: translateY(55%);
    -ms-transform: translateY(55%);
    -o-transform: translateY(55%);
  }
}

@keyframes searchslide {
  from {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
  to {
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff;
  opacity: 0.9;
  animation-name: filterdark;
  animation-duration: 2s;
}

.searchgrid {
  position: fixed;
  top: 15vh;
  z-index: 2;
  width: 40%;
}

@media only screen and (max-width: 600px) {
  .searchgrid {
    top: 10%;
    z-index: 2;
    width: 40%;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
  .paperAnim {
    align-self: center;
    position: fixed;
    max-height: 80vh;
    overflow: auto;
    max-width: max-content !important;
    width: 95vw;
    animation-name: catslide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
}

@keyframes filterdark {
  from {
    opacity: 0;
    filter: alpha((opacity = 0));
    -webkit-filter: alpha((opacity = 0));
  }
  to {
    filter: alpha((opacity = 90));
    -webkit-filter: alpha((opacity = 90));
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar:horizontal {
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}
